body{
    display: flex;
    justify-content: center;
}
.block{
    font-size: 40pt;
    font-family: Segoe UI;
    text-align: center;
    padding: 15px;
    width: 410px;
    height: 465px;
}
img {
    width: 150px;
    height: 150px;
}
input {
    color: #35495e;
    font-family: Segoe UI;
    font-size: 20pt;
    background-color: #41b883;
    border: none;
    border-radius: 16px;
    padding: 15px;
    transition: all 0.5s ease-in
}
button {
    background-color: #41b883;
    color: #35495e;
    width: 65px;
    height: 55px;
    padding: 10px;
    font-family: Segoe UI;
    font-size: 18pt;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in
}
input:hover {
    color: white;
    background-color: #35495e;
}
button:hover {
    color: white;
    background-color: #35495e;
}
#todo-list-example > div:hover {
    text-decoration: line-through;
}